@page "/create"
@inject HttpClient Http
@using BlazorApp1.Components.Helper
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using Share.DTOs

@code {
    private CreateDictionaryRequestDto createModel = new CreateDictionaryRequestDto();
    private bool showError = false;

    private async Task CreateItem()
    {
        showError = false; 

        if (string.IsNullOrWhiteSpace(createModel.Name) ||
            string.IsNullOrWhiteSpace(createModel.Code) ||
            createModel.BeginDate == DateTime.MinValue ||
            createModel.EndDate == DateTime.MinValue)
        {
            showError = true;
            return; 
        }

        try
        {
            var response = await Http.PostAsJsonAsync($"{ApiHelper.BaseApiUrl}/Api", createModel);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/viewAll");
            }
            else
            {
                Console.WriteLine($"Ошибка при создании элемента: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
        Console.WriteLine($"Ошибка: {ex.Message}");
        }
    }
}

<h3>Create New Item</h3>

<div class="form-group">
    <label for="name">Name:</label>
    <InputText id="name" @bind-Value="createModel.Name" class="form-control" />
</div>
<div class="form-group">
    <label for="beginDate">Begin Date:</label>
    <InputDate id="beginDate" @bind-Value="createModel.BeginDate" class="form-control" />
</div>
<div class="form-group">
    <label for="code">Code:</label>
    <InputText id="code" @bind-Value="createModel.Code" class="form-control" />
</div>
<div class="form-group">
    <label for="endDate">End Date:</label>
    <InputDate id="endDate" @bind-Value="createModel.EndDate" class="form-control" />
</div>

<button class="btn btn-primary" @onclick="CreateItem">Create</button>

@if (showError)
{
<div class="alert alert-danger mt-3">
    Пожалуйста, заполните все поля формы.
</div>
}